onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp

# Default to npmjs.org public registry
@markdy:registry=https://registry.npmjs.org/

# GitHub Packages npm registry (https://github.com/HoangYell/markdy-com/packages)
# To resolve or install directly from GitHub Packages:
# @markdy:registry=https://npm.pkg.github.com
# @hoangyell:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
